/* font style  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Top Player Start  */
.container {
  background-color: #ffffff;
  border-radius: 5px;
  width: 870px;
  padding: 30px;
  margin-top: 30px;
}
.top-players {
  margin-bottom: 30px;
}
.section-title {
  font-size: 24px;
  color: #562eff;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player img {
  width: 56px;
  height: 56px;
}

.player {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.player-name {
  padding-left: 16px;
}
hr {
  border: 1px solid #d1d1d1;
}

/* top blog style  */
#top-blogs-title {
  margin-top: 27px;
}
.top-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-details {
  margin-left: 16px;
}
.by-author {
  color: #9f9f9f;
}
.by-author a {
  text-decoration: none;
  color: #562eff;
}

/* Latest Courses  */

.top-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.course-banner img {
  width: 224px;
  height: 104px;
}
.course-details {
  width: 252.42px;
}
.course-detail a {
  text-decoration: none;
  color: #ed6b4f;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}
.fa-star {
  font-size: 12px;
}
.clock {
  width: 94.83px;
  height: 29.38px;
  display: flex;
  align-items: center;
  background-color: #ffe4e8;
  border-radius: 14.69px;
}
.clock p {
  padding-left: 5px;
}

/* responsive  */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .top-blogs,
  .top-courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: column;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .top-blogs,
  .top-courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    flex-direction: column;
  }
}
